// Tip: compile fra projekt-roden. Brug citationstegn hvis stien indeholder mellemrum.
// Eksempel:
// cd "/Users/beast/Library/Mobile Documents/com~apple~CloudDocs/Frontendmentor/Javascript/Article Preview Component/article-preview-component-master"
// sass "SCSS/style.scss:css/style.css" --watch

@use './variables' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

body {
    background-color: $grey-200;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto 6.25rem
}

h1 {
    @include text-preset-1;
    padding-bottom: $spacing-300;
}

h2 {
    @include text-preset-2-bold;
}

p {
    @include text-preset-2-medium;
    color: $grey-400;
}

.main-container {
    display: flex;
    background-color: $white;
    border-radius: 10px;
    max-width: 45.625rem;
    align-items: stretch;

    .img-container {
        max-width: 17.813rem;
        height: auto;

        .main-img {
        height: 100%;
        width: 100%;
        border-radius: 10px 0 0 10px;
        object-fit: cover;
        }
    }

    .text-section {
        padding: $spacing-400 $spacing-500;
        width: 80%;
        position: relative;

        .main-p {
            padding-bottom: $spacing-300;
            color: $grey-500;
        }
        
        .author-section {
            display: flex;
           
            .author-img {
                border-radius: 50%;
                height: $spacing-500;
                padding-right: $spacing-200;
            }

            .share-wrapper {
                position: relative;
                display: inline-block;
                margin-left: auto;

                .share-svg {
                    width: 2rem;
                    height: 2rem;
                    padding: 0.5rem;
                    background: $grey-200;
                    border-radius: 50%;
                    border: none;
                    color: $grey-500;
                    cursor: pointer;
                    transition: background-color 0.2s;
                    z-index: 999;

                    &:hover {
                        background-color: $grey-500;
                        color: $white;
                    }
                }

                .popup-container {
                    display: none;
                    position: absolute;
                    bottom: 3.5rem; // vises over knappen
                    left: 50%;
                    transform: translateX(-50%); // centrer
                    background-color: $grey-900;
                    color: white;
                    border-radius: 10px;
                    padding: 1rem 1.5rem;
                    width: 14rem;
                    justify-content: space-around;
                    align-items: center;
                    gap: 1rem;
                    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
                    z-index: 10;

                     &::after {
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                        border-width: 8px;
                        border-style: solid;
                        border-color: $grey-900 transparent transparent transparent;
                        }

                    .popup-p {
                        @include text-preset-3;
                    }

                    &.show {
                        display: flex;
                    }
            }


        }
    }    
}
}

@media (max-width: 768px) {

    body{
        margin: auto 5rem;
    }

    .main-container{

        .img-container{
            max-width: 14.313rem;
        }
        .text-section{
            padding: $spacing-500 $spacing-400;
        }
    }
}

@media (max-width: 425px) {

    body{
        margin: $spacing-600 $spacing-300;
    }

    .main-container{
        flex-direction: column;

        .img-container {
            max-width: 100%;
            height: auto;

        .main-img {
            border-radius: 10px 10px 0 0;
        }
        }
    
        .text-section{
            width: 100%;
            padding: $spacing-500 $spacing-300 $spacing-200 $spacing-300;

            .main-p{
                padding-bottom: $spacing-600;
            }

            .author-section {

            &.popup-active {
                .author-img, .author {
                    display: none;
                }
            }

            .share-wrapper {
                position: static;
                z-index: 0; 

                .share-svg {
                    position: relative;
                    z-index: 30;
                    margin-bottom: 0.5rem;
                }

                .popup-container {
                    bottom: 0;
                    width: 100%;
                    border-radius: 0 0 10px 10px;
                    padding: 1.8rem 10rem 1.8rem 2rem;
                    display: none;
                    z-index: 10;

                    &::after {
                    display: none;
                    }

                    &.show {
                    display: flex;
                    }
                }
            }
        }
    }
}  
}