/* Spacing */
/* Colors */
/* Typography */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto 6.25rem;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-size: 1.25rem; /* 20px */
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.016rem;
  color: hsl(217, 19%, 35%);
  padding-bottom: 1.5rem;
}

h2 {
  font-family: "Manrope", sans-serif;
  font-size: 0.813rem; /* 13px */
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.0012em;
  color: hsl(217, 19%, 35%);
}

p {
  font-family: "Manrope", sans-serif;
  font-size: 0.813rem; /* 13px */
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.0012em;
  color: hsl(212, 23%, 69%);
}

.main-container {
  display: flex;
  background-color: hsl(0, 100%, 100%);
  border-radius: 10px;
  max-width: 45.625rem;
  align-items: stretch;
}
.main-container .img-container {
  max-width: 17.813rem;
  height: auto;
}
.main-container .img-container .main-img {
  height: 100%;
  width: 100%;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}
.main-container .text-section {
  padding: 2rem 2.5rem;
  width: 80%;
  position: relative;
}
.main-container .text-section .main-p {
  padding-bottom: 1.5rem;
  color: hsl(214, 17%, 51%);
}
.main-container .text-section .author-section {
  display: flex;
}
.main-container .text-section .author-section .author-img {
  border-radius: 50%;
  height: 2.5rem;
  padding-right: 1rem;
}
.main-container .text-section .author-section .share-wrapper {
  position: relative;
  display: inline-block;
  margin-left: auto;
}
.main-container .text-section .author-section .share-wrapper .share-svg {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  background: hsl(210, 46%, 95%);
  border-radius: 50%;
  border: none;
  color: hsl(214, 17%, 51%);
  cursor: pointer;
  transition: background-color 0.2s;
  z-index: 999;
}
.main-container .text-section .author-section .share-wrapper .share-svg:hover {
  background-color: hsl(214, 17%, 51%);
  color: hsl(0, 100%, 100%);
}
.main-container .text-section .author-section .share-wrapper .popup-container {
  display: none;
  position: absolute;
  bottom: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(217, 19%, 35%);
  color: white;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  width: 14rem;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.main-container .text-section .author-section .share-wrapper .popup-container::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}
.main-container .text-section .author-section .share-wrapper .popup-container .popup-p {
  font-family: "Manrope", sans-serif;
  font-size: 0.813rem; /* 13px */
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.main-container .text-section .author-section .share-wrapper .popup-container.show {
  display: flex;
}

@media (max-width: 768px) {
  body {
    margin: auto 5rem;
  }
  .main-container .img-container {
    max-width: 14.313rem;
  }
  .main-container .text-section {
    padding: 2.5rem 2rem;
  }
}
@media (max-width: 653px) {
  .main-container .img-container {
    max-width: 12rem;
  }
}
@media (max-width: 617px) {
  .main-container .img-container {
    max-width: 12rem;
  }
  .main-container #popup {
    bottom: 5rem;
  }
}
@media (max-width: 500px) {
  body {
    margin: 3rem 1.5rem;
  }
  .main-container {
    flex-direction: column;
  }
  .main-container .img-container {
    max-width: 100%;
    height: auto;
  }
  .main-container .img-container .main-img {
    border-radius: 10px 10px 0 0;
  }
  .main-container .text-section {
    width: 100%;
    padding: 2.5rem 1.5rem 1rem 1.5rem;
  }
  .main-container .text-section .main-p {
    padding-bottom: 3rem;
  }
  .main-container .text-section .author-section.popup-active .author-img, .main-container .text-section .author-section.popup-active .author {
    display: none;
  }
  .main-container .text-section .author-section .share-wrapper {
    position: static;
    z-index: 0;
  }
  .main-container .text-section .author-section .share-wrapper .share-svg {
    position: relative;
    z-index: 30;
    margin-bottom: 0.5rem;
  }
  .main-container .text-section .author-section .share-wrapper .popup-container {
    bottom: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 1.8rem 10rem 1.8rem 2rem;
    display: none;
    z-index: 10;
  }
  .main-container .text-section .author-section .share-wrapper .popup-container::after {
    display: none;
  }
  .main-container .text-section .author-section .share-wrapper .popup-container.show {
    display: flex;
  }
  .main-container .text-section .author-section .share-wrapper #popup {
    bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
